*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    border: solid 10px; color: red;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    width: 35vw;
    height: 25vh;
}

.azul{
    background-color: blue;
}

.tomato{
    background-color: tomato;
}

.cinza{
    background-color: grey;
}

.violeta{
    background-color: violet;
}


